header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: #007bff;
  text-decoration: none;
}

#webhookTokenInput {
  width: 240px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

